@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/octavian-pintiliciuc-173884140/">https://www.linkedin.com/in/octavian-pintiliciuc-173884140/</a><br/>
    <strong>Github:</strong> <a href="https://github.com/tavilad">https://github.com/tavilad</a>
</address>
